version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:14.10.1 # the primary container, where your job's commands are run
        auth:
          username: hanifadzkiya
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: echo $DOCKER_USER
      - setup_remote_docker:
          version: 19.03.13
      - run: 
          name: docker login 
          command: |
              echo "$DOCKERHUB_PASSWORD" | docker login --username $DOCKER_USER --password-stdin
      - run: docker -v
      - run: 
          name: docker build
          command: docker build --tag hanifadzkiya/travel .
      # deploy the image
      - run: 
          name: Push Docker image
          command: |
              if [ "${CIRCLE_BRANCH}" == "master" ]
              then 
                  TAG=0.1.$CIRCLE_BUILD_NUM
                  docker build -t $DOCKER_USER/travel:$TAG .
                  echo $DOCKERHUB_PASSWORD | docker login -u $DOCKER_USER --password-stdin
                  docker push $DOCKER_USER/travel:$TAG
              else
                  echo "Skipped"
              fi
      - add_ssh_keys
      - run: 
            name: Deploy to EC2
            command: |
                if [ "${CIRCLE_BRANCH}" == "master" ] || [ "${CIRCLE_BRANCH}" == "feature/cd" ] 
                then 
                    docker build -t $DOCKER_USER/travel .
                    echo $DOCKERHUB_PASSWORD | docker login -u $DOCKER_USER --password-stdin
                    docker push $DOCKER_USER/travel
                    ssh -o StrictHostKeyChecking=no ubuntu@54.163.242.157 \
                    "./install.sh"
                else 
                    echo "Skipped"; 
                fi
        